<ul id="nav-slider" class="list-unstyled left-elems marginLeft20percent" data-ng-controller="HeaderController">
    <li>
        <a ng-click="toggleNav()" class="nav-trigger ion ion-drag" href="" tabindex="0"></a>
    </li>
    <li data-ng-if="menu.shouldRender(authentication.user) && authentication.user.roles[0] != 'administrator' && authentication.user.roles[0] != 'commander' &&  authentication.user.roles[0] != 'agency'">
        <div style="margin-left: 16px" class="form-search hidden-xs">
            <form id="site-search" action="/#!/search">
                <input type="search" class="form-control" placeholder="Nhập từ khóa cần tìm kiếm...">
                <button style="margin-top: 4px;" type="submit" class="glyphicon glyphicon-search"></button>
            </form>
        </div>
    </li>
    <!-- #end search-box -->

    <!-- site-logo for mobile nav -->
    <!--<li >
        <div class="site-logo visible-xs">
            <a href="/" class="text-uppercase h3">
                <span class="text">EcoISO</span>
            </a>
        </div>
    </li> -->
    <!-- #end site-logo -->
    <!-- fullscreen -->

    <!-- <li class="fullscreen hidden-xs" onclick="toggleFullScreen()">
         <a href><i class="ion ion-qr-scanner"></i></a>

     </li>-->    <!-- #end fullscreen -->

</ul>
<nav class="collapse navbar-collapse right-elems" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
        <li data-ng-repeat="item in menu.items | orderBy: 'position'"
            data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType"
            ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}"
            dropdown="item.menuItemType === 'dropdown'">
            <a ng-switch-when="dropdown" class="dropdown-toggle">

                <span data-ng-bind="item.title"></span>
                <b class="caret"></b>
            </a>
            <ul ng-switch-when="dropdown" class="dropdown-menu">
                <li data-ng-repeat="subitem in item.items | orderBy: 'position'"
                    data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}"
                    ng-class="{active: $uiRoute}">
                    <a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
                </li>
            </ul>
            <a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
        <!--<li ui-route="/signup" ng-class="{active: $uiRoute}">
            <a href="/#!/signup">Đăng ký</a>
        </li>-->
        <li class="divider-vertical"></li>
        <li ui-route="/signin" ng-class="{active: $uiRoute}">
            <a href="/#!/signin">Đăng nhập</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background: none !important; ">
                <span data-ng-bind="authentication.user.displayName" data-ng-show="authentication.user"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" data-ng-controller="ActivitiesController">
                <li>
                    <a ng-if="authentication.user.roles[0] != 'agency' && authentication.user.roles[0] != 'commander'"
                       href="/{{company.shortName}}#!/settings/profile">Thay đổi hồ sơ</a>
                    <a ng-if="authentication.user.roles[0] == 'agency' || authentication.user.roles[0] == 'commander'"
                       href="/administrator#!/settings/profile">Thay đổi hồ sơ</a>
                </li>
                <!--<li>
                    <a href="/#!/settings/accounts">Manage Social Accounts</a>
                </li>-->
                <li data-ng-show="authentication.user.provider === 'local'">
                    <a ng-if="authentication.user.roles[0] != 'agency' && authentication.user.roles[0] != 'commander'"
                       href="/{{company.shortName}}#!/settings/password">Đổi mật khẩu </a>
                    <a ng-if="authentication.user.roles[0] == 'agency' || authentication.user.roles[0] == 'commander'"
                       href="/administrator#!/settings/password">Đổi mật khẩu </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/auth/signout">Thoát</a>
                </li>
            </ul>
        </li>
        <li id="floating-chat" class="floating-sidebar " data-ng-show="authentication.user && authentication.user.roles[0] != 'commander' && authentication.user.roles[0] != 'agency' "><!--open-->
            <a ng-click="toggleFloatingSidebar()" href="" tabindex="0" style="background: none !important;margin:0">
                <i class="ion ion-grid"></i>
            </a>
            <div  class="sidebar-wrap ps-container ps-active-y">
                <div justified="true" class="ng-isolate-scope">
                    <div class="tab-content">
                        <div class="tab-pane ng-scope active"><!--active-->
                        <div class="chat-tab tab clearfix ng-scope">
                            <h5 class="title mt0 mb30" style="border-bottom: 1px solid #e9e9e9">Đang trực tuyến</h5>
                            <div class="user-container mb15">
                                <div class="desc">
                                    <p class="mb0">John Wick</p>
                                    <p class="xsmall"><span class="ion ion-ios-information-outline"></span>&nbsp;truong ban iso</p>
                                </div>
                                <span class="ion ion-record avail right on"></span>
                            </div>
                            <h5 class="title mt0 mb30"  style="border-bottom: 1px solid #e9e9e9">Ngoại tuyến</h5>
                            <div class="user-container mb15">
                                <div class="desc">
                                    <p class="mb0">Martin Xx.</p>
                                    <p class="xsmall"><span class="ion ion-ios-information-outline"></span>&nbsp;can bo iso</p>
                                </div>
                                <span class="ion ion-record avail right off"></span>
                            </div>
                            <div class="user-container mb15">
                                <div class="desc">
                                    <p class="mb0">Lorem Ipsum</p>
                                    <p class="xsmall"><span class="ion ion-ios-information-outline"></span>&nbsp;nhan vien</p>
                                </div>
                                <span class="ion ion-record avail right off"></span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px; height: 500px;"><div class="ps-scrollbar-y" style="top: 0px; height: 340px;"></div></div></div>
        </li>
    </ul>
</nav>