<!--<section class="row" data-ng-controller="AuthenticationController" style="background: #159de6">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-3" style="border: 1px solid #fff;padding:40px;border-radius:5px;background-color: #fff;margin-top:5%">

        <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                <div class="form-group">
                    <label for="username">Tài khoản </label>
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu </label>
                    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">Đăng nhập </button>&lt;!&ndash;&nbsp; hoặc &nbsp;
					<a href="/#!/signup">Đăng ký  </a>&ndash;&gt;
                </div>
            </fieldset>
        </form>
    </div>
</section>-->
<div class="page page-auth">

    <div class="auth-container">

        <div class="form-head mb20">
            <h1 class="site-logo h2 mb5 mt5 text-center text-bold"><i class="ion ion-leaf" style="margin-right:15px;font-size:29px"></i><a href="javascript:;">EcoISO</a></h1>
        </div>

        <div class="form-container" data-ng-controller="AuthenticationController">
            <form class="form-horizontal"  data-ng-submit="signin()" autocomplete="off">
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
                <label for="username">Tài khoản </label>
                <md-input-container>

                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">

                </md-input-container>
                <label for="password">Mật khẩu </label>

                <md-input-container>

                    <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">

                </md-input-container>

                <!--<div class="clearfix mb15"><a href="#/pages/forget-pass" class="text-success small">Forget your password?</a></div>-->
                <div class="btn-group btn-group-justified mb15">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Đăng nhập</button>
                    </div>
                </div>
                <!--<div class="clearfix text-center small">
                    <p>Don't have an account? <a href="#/pages/signup">Create Now</a></p>
                </div>-->
            </form>
        </div>

    </div> <!-- #end signin-container -->
</div>
