<section data-ng-controller="StandardsController" data-ng-init="find()">
    <div class="page-header">
        <h3>Danh Sách Tiêu Chuẩn</h3>
    </div>
    <div class="panel panel-default">

        <div class="list-group">
            <a data-ng-repeat="standard in standards" data-ng-href="#!/standards/{{standard._id}}"
               class="list-group-item col-xs-6 col-sm-4">
                <h4 class="text-center">
                    <i style="font-size: 100px;" class="glyphicon glyphicon-list text-info "></i>
                </h4>
                <h4>{{standard.name}}</h4>
                <small class="list-group-item-text">
                    Đăng vào
                    <span data-ng-bind="standard.created | date:'medium'"></span>
                    bởi
                    <span data-ng-bind="standard.user.displayName"></span>
                        <span class="pull-right">
                            <button title="xóa" class="btn btn-primary btn-xs" data-ng-click="remove(standard);">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            <a title="chỉnh sửa" class="btn btn-primary btn-xs"
                               href="/#!/standards/{{standard._id}}/edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                        </span>

                </small>
            </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!standards.$resolved || standards.length">
        chưa có tiêu chuẩn nào được khởi tạo ! hãy khởi tạo tiêu chuẩn mới ! <a href="/#!/standards/create">khởi tạo
        tiêu chuẩn</a>?
    </div>
    <!-- <div class="page-header">
         <h1>Standards</h1>
     </div>
     <div class="list-group">
         <a data-ng-repeat="standard in standards" data-ng-href="#!/standards/{{standard._id}}" class="list-group-item">
             <small class="list-group-item-text">
                 Posted on
                 <span data-ng-bind="standard.created | date:'medium'"></span>
                 by
                 <span data-ng-bind="standard.user.displayName"></span>
             </small>
             <h4 class="list-group-item-heading" data-ng-bind="standard.name"></h4>
         </a>
     </div>
     <div class="alert alert-warning text-center" data-ng-hide="!standards.$resolved || standards.length">
         No Standards yet, why don't you <a href="/#!/standards/create">create one</a>?
     </div>-->
</section>