<div ng-controller="ActivitiesController" class="page page-dashboard ng-scope">
    <div class="page-wrap">
        <div class="row">
            <!-- dashboard header -->
            <div class="col-md-12">
                <div class="dash-head clearfix mt15 mb20">
                    <div class="left" style="font-family:Helvetica, Arial, sans-serif">
                        <h4 class="mb5 text-light">EcoISO - Phần mềm ban hành và quản trị tài liệu theo tiêu chuẩn ISO</h4>
                        <p class="small"><strong><a href="http://ecoit.asia/home">EcoIT</a> + <a href="http://www.iso-ahead.vn/">AHEAD</a></strong> hợp tác sản xuất</p>
                        <!--<p>
                            <img src="/modules/core/img/ecoit.png" height="30px">
                            <img src="/modules/core/img/ahead.jpg" height="30px">
                        </p>-->
                    </div>
                    <div class="right mt10" style="margin-right: 50px">
                        <h4>Mua bản quyền bởi :</h4>
                        <p>
                            <img src="uploads/{{company.logo}}" height="200px" width="200px">
                        </p>
                    </div>
                </div>
            </div>
        </div> <!-- #end row -->
        <!-- row -->
        <div class="row">
            <!-- profile -->
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default mb20 panel-hovered profile-widget">
                    <div class="panel-body">
                        <div class="clearfix mb15 top-info">
                            <div class="left-side">
                                <h3 class="text-light mt0"><b><span data-ng-bind="authentication.user.displayName"></span></b></h3>
                                <p><strong>Chức vụ :</strong>
                                    <span ng-if="authentication.user.roles == 'manager'"> Trưởng Ban ISO</span>
                                    <span ng-if="authentication.user.roles == 'staff'"> Cán bộ ISO</span>
                                    <span ng-if="authentication.user.roles == 'user'"> Nhân Viên</span>

                                </p>
                                <p><strong>Phòng Ban :</strong><span data-ng-bind="authentication.user.department"></span></p>
                                <p><strong>Thư điện tử :</strong><span data-ng-bind="authentication.user.email"></span></p>

                            </div>
                        </div>
                        <ul class="user-badges list-unstyled row">
                            <li class="col-xs-6">
                                <i class="ion ion-ios-chatboxes-outline text-success"></i>
                                <a href="/#!/settings/password" style="color:#ffffff"><button class="btn btn-success btn-xs mt15">Đổi mật khẩu</button></a>
                            </li>
                            <li class="col-xs-6">
                                <i class="ion ion-ios-body text-danger"></i>
                                <a href="/#!/settings/profile" style="color:#ffffff"><button class="btn btn-primary btn-xs mt15">Thay đổi hồ sơ</button></a>
                            </li>
                        </ul>
                    </div> <!-- #end panel-body -->
                </div>
            </div>
        </div>
        <!-- #end row -->
    </div> <!-- #end page-wrap -->
</div>