<!DOCTYPE html>
<html class=" js csstransforms3d csstransitions pointerevents">
<head>
    <title>EcoISO - Phần mềm quản trị tài liệu theo tiêu chuẩn ISO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Included Google Fonts -->
    <link href="/demo_data/css_002.css" rel="stylesheet" type="text/css">
    <!-- CSS Files comes here -->
    <link href="/demo_data/grid12.css" rel="stylesheet" media="screen">
    <!-- Grid System -->
    <link href="/demo_data/james_typography.css" rel="stylesheet" media="screen">
    <!-- James Framework - TYPOGRAPHY -->
    <link href="/demo_data/main.css" rel="stylesheet" media="screen">
    <!-- Main CSS file -->
    <link href="/demo_data/color_scheme_light.css" rel="stylesheet" media="screen">
    <!-- Color scheme (dark/light)-->
    <link href="/demo_data/color_palette_blue.css" rel="stylesheet" media="screen">
    <!-- Color palette -->
    <link href="/demo_data/rapid-icons.css" rel="stylesheet" media="screen">
    <!-- James Framework - ICONS -->
    <link href="/demo_data/jquery.css" rel="stylesheet" media="screen">
    <!-- MaxImage background image slideshow -->
    <link href="/demo_data/responsivity.css" rel="stylesheet" media="screen">
    <!-- Responsive Fixes -->
    <link href="/demo_data/animate.css" rel="stylesheet" media="screen">
    <!-- Animate - animations -->
    <link href="/demo_data/nivo-lightbox.css" rel="stylesheet" media="screen">
    <!-- Lightbox Styles -->
    <link href="/demo_data/default.css" rel="stylesheet" media="screen">
    <!-- Lightbox Styles -->
    <link href="/demo_data/owl_002.css" rel="stylesheet" media="screen">
    <!-- Owl - Carousel -->
    <link href="/demo_data/owl_003.css" rel="stylesheet" media="screen">
    <!-- Owl - Carousel -->
    <link href="/demo_data/owl.css" rel="stylesheet" media="screen">
    <!-- Owl - Carousel -->
    <!-- Modernizer and IE specyfic files -->
    <script src="/demo_data/modernizr.js"></script>
    <!--[if IE 9]>
    <link href="/app/views/css/ie.css" rel="stylesheet" media="screen">
    <![endif]-->

    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

        .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="mc-old-browser layout-switch">

<!-- Mobile nav -->
<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <div class="mobile_nav_close_button"><a href="" id="hideRight">
        <div data-icon="" class="button_icon close_icon"></div>
    </a></div>
    <nav class="active" id="mobile_menu_content">
        <a href="#home">Trang chủ</a>
        <a href="#reviews_logos">Đơn vị sản xuất</a>
        <a href="#more_info">Tính năng</a>
        <a href="#about_video">Video</a>
        <a href="#screenshots">Khách hàng</a>
        <a href="#contact">Liên hệ</a>
    </nav>
</div>
<!-- //Mobile nav -->

<div class="loaded" id="preloader_container">

    <!-- Preloader Screen -->
    <header class="preloader_header header-none">
        <div class="preloader_loader">
            <svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
                <path class="preloader_loader_circlebg"
                      d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"></path>
                <path style="stroke-dashoffset: 0; stroke-dasharray: 192.617;" id="preloader_loader_circle"
                      class="preloader_loader_circle"
                      d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"></path>
            </svg>
        </div>
    </header>
    <!-- //Preloader Screen -->


    <!-- Fullscreen homepage -->
    <section class="hero_fullscreen background_slider menu_bar-waypoint" data-animate-down="menu_bar-hide"
             data-animate-up="menu_bar-hide" id="home">
        <!-- This section class is where you can edit background choice (background_single, background_slider, background_video) you can also enable gradient overlay (gradient_overlay)-->


        <!-- Logo and navigation -->
        <div class="container top_bar">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center home_anim1">
                    <!--<img src="/demo_data/logo_home.png" alt="logo" class="logo_home">-->
                </div>
            </div>
        </div>
        <!-- //Logo and navigation -->


        <!-- Main content -->
        <div class="container align-center" id="main_content">
            <div class="content_container row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 home_content">
                    <h2 class="slogan home_anim3" >Eco<span style="color: red">ISO</span> là phần mềm quản lý hệ thống tài liệu theo tiêu chuẩn ISO đơn giản và hiệu qủa nhất!</h2>

                    <!-- CTA Buttons -->
                    <div class="cta_button_area home_anim4">
                        <div>
                            <h3 style="display:block">Xem chi tiết</h3>
                            <a href="#reviews_logos"><button  class="btn" style="width: 0px; height: 0px; border-width: 100px; border-style: solid; border-color:  #fff transparent transparent ; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-right: 0px; padding-left: 0px;border-radius:0;background: none"></button></a>
                        </div>
                    </div>
                    <!-- //CTA Buttons-->

                </div>
            </div>
        </div>
        <!-- //Main content -->
    </section>
    <!-- //Homepage -->

    <!-- Menu bar -->
    <header id="menu_bar" class="menu_bar menu_bar-show">
        <div class="container">
            <a href="" class="go_to_home logo_dark logo"><img src="/demo_data/logo_dark.png" alt="logo"></a>
            <nav class="menu_bar_navigation">
                <ul>
                    <li class="visible-lg visible-md"><a href="#reviews_logos" class="go_to_overview">Đơn vị sản xuất</a></li>
                    <li class="visible-lg visible-md"><a href="#more_info" class="go_to_overview">Tính năng</a></li>
                    <li class="visible-lg visible-md"><a href="#about_video">Video</a></li>
                    <li class="visible-lg visible-md"><a href="#screenshots">Khách hàng</a></li>
                    <li class="visible-lg visible-md"><a href="#contact">Liên hệ</a></li>
                    <li class="hidden-lg hidden-md">
                        <div class="mobile_nav_open_button"><a href="" id="showRight">
                            <div data-icon="" class="button_icon close_icon"></div>
                        </a></div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- // Menu bar -->
    <!-- Logos #################### -->
    <section id="reviews_logos" class="menu_bar-waypoint subsection background_color2" data-animate-down="menu_bar-show" data-animate-up="menu_bar-hide">
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
                    <div class="intro">
                        <h6>Đơn vị sản xuất</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 reviews_logo col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" >
                    <img src="/demo_data/logo2.png" alt="EcoIT" >
                    <div style="text-align: center"><h4>Công ty <b>EcoIT</b></h4></div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 reviews_logo col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                    <img src="/demo_data/logo1.png" alt="AHEAD" >
                    <div style="text-align: center"><h4>Công ty <b>AHEAD</b></h4></div>
                </div>
            </div>
            <!-- CTA Buttons -->
            <div class="cta_button_area home_anim4" style="margin-top: 5rem">
                <div>
                    <h3 style="display:block">Giới thiệu sản phẩm</h3>
                    <a href="#more_info"><button  class="btn" style="width: 0px; height: 0px; border-width: 100px; border-style: solid; border-color:  #00793C transparent transparent ; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-right: 0px; padding-left: 0px;border-radius:0;background: none"></button></a>
                </div>
            </div>
            <!-- //CTA Buttons-->
        </div>
    </section>
    <!-- //Logos-->
    <!-- More Info #################### -->
    <section id="more_info" class="subsection background_color1">
        <div class="container">
            <!-- INTRO -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center more_info_anim1 animated fadeInUp">
                    <div class="intro">
                        <h6>Công cụ hỗ trợ quản lý tài liệu đắc lực dành riêng cho doanh nghiệp của bạn!</h6>
                       <!-- <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation. </h5>-->
                    </div>
                </div>
            </div>
            <!-- //INTRO -->
            <!-- Feature 1 - right image -->
            <div class="row feature_box" id="feature1">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 align-center more_info_anim2 animated fadeInLeft">
                    <div class="feature_content">
                        <h6>Giao diện phù hợp mọi thiết bị</h6>
                        <p>Bạn có thể sử dụng phần mềm trên bất kỳ thiết bị nào, máy tính cá nhân,  máy tính bảng hay  thiết bị di động, bởi EcoISO được trang bị tính năng tự động điều chỉnh giao diện phù hợp, giúp mang lại trải nghiệm tốt nhất cho mỗi người dùng.</p>
                    </div>
                    <!-- CTA Buttons -->
                    <div class="cta_button_area home_anim4" style="margin-top: 0">
                        <div>
                            <h3 style="display:block">Tiếp tục</h3>
                            <a href="#feature2"><button  class="btn" style="width: 0px; height: 0px; border-width: 100px; border-style: solid; border-color:  #00793C transparent transparent ; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-right: 0px; padding-left: 0px;border-radius:0;background: none"></button></a>
                        </div>
                    </div>
                    <!-- //CTA Buttons-->
                </div>

                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 align-center more_info_anim3 animated fadeInRight">
                    <div class="feature_image">
                        <img src="/demo_data/1.png" alt="" class="img_responsive">
                    </div>
                </div>
            </div>
            <!-- //Feature 1 - right image -->

            <!-- Feature 2 - left image -->
            <div class="row feature_box" id="feature2">

                <!-- Image - destop display -->
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 align-center visible-md visible-lg more_info_anim4 animated fadeInLeft">
                    <div class="feature_image">
                        <img src="/demo_data/2.png" alt="" class="img_responsive">
                    </div>
                </div>
                <!-- //Image - destop display -->

                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 align-center more_info_anim5 animated fadeInRight">
                    <div class="feature_content">
                        <h6>Song hành cùng trải nghiệm của bạn</h6>
                        <p>Phần mềm EcoISO được thiết kế trên nền Web nên chỉ cần với một thiết bị có kết nối internet là bạn có thể dễ dàng truy cập mọi lúc, mọi nơi.</p>
                    </div>
                    <!-- CTA Buttons -->
                    <div class="cta_button_area home_anim4" style="margin-top: 0">
                        <div>
                            <h3 style="display:block">Tiếp tục</h3>
                            <a href="#feature3"><button  class="btn" style="width: 0px; height: 0px; border-width: 100px; border-style: solid; border-color:  #00793C transparent transparent ; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-right: 0px; padding-left: 0px;border-radius:0;background: none"></button></a>
                        </div>
                    </div>
                    <!-- //CTA Buttons-->
                </div>

                <!-- Image - mobile display -->
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 align-center visible-xs visible-sm more_info_anim4 animated fadeInLeft">
                    <div class="feature_image">
                        <img src="/demo_data/2.png" alt="" class="img_responsive">
                    </div>
                </div>
                <!-- //Image - mobile display -->

            </div>
            <!-- //Feature 2 - left image -->


            <!-- Feature 3 - center image -->
            <div class="row feature_box_center" id="feature3">

                <!-- Image - mobile display -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-center visible-xs visible-sm more_info_anim6 animated fadeInUp">
                    <div class="feature_image">
                        <img src="/demo_data/3.png" alt="" class="img_responsive">
                    </div>
                </div>
                <!-- //Image - mobile display -->

                <!-- Content - left column -->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 align-left feature_box_center_content_row">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 more_info_anim7 animated fadeInLeft">
                            <div class="feature_content">
                                <h6>18+ Màu sắc cơ bản</h6>
                                <p>Tông màu chính của sản phẩm có thể thay đổi phù hợp với sở thích và phong thủy của bạn.</p>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 more_info_anim8 animated fadeInLeft">
                            <div class="feature_content">
                                <h6>Cá nhân hóa </h6>
                                <p>Thay đổi màn hình đăng nhập , logo công ty , giới thiệu... về công ty theo cách của bạn .</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Content - left column -->

                <!-- Image - destop display -->
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-center visible-md visible-lg more_info_anim6 animated fadeInUp">
                    <div class="feature_image">
                        <img src="/demo_data/3.png" alt="" class="img_responsive" style="max-height: 500px">
                    </div>
                </div>
                <!-- //Image - destop display -->

                <!-- Content - right column -->
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 align-left feature_box_center_content_row">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 more_info_anim9 animated fadeInRight">
                            <div class="feature_content">
                                <h6>Điều hành trực tuyến</h6>
                                <p>Phân quyền xử lý, phê duyệt, ban hành văn bản online.</p>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 more_info_anim10 animated fadeInRight">
                            <div class="feature_content">
                                <h6>Tìm kiếm theo nội dung</h6>
                                <p>Với hàng ngàn tài liệu , bạn có thể tìm kiếm chỉ với một vài thông tin, trong 1 cú click chuột.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Content - right column -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 feature_box_center_content_row" style="margin-top:-10%;padding:0">
                    <div class="row">
                        <!-- CTA Buttons -->
                        <div class="cta_button_area home_anim4" style="margin-top: 0">
                            <div>
                                <h3 style="display:block">Hướng dẫn sử dụng</h3>
                                <a href="#about_video"><button  class="btn" style="width: 0px; height: 0px; border-width: 100px; border-style: solid; border-color:  #00793C transparent transparent ; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-right: 0px; padding-left: 0px;border-radius:0;background: none"></button></a>
                            </div>
                        </div>
                        <!-- //CTA Buttons-->
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- //More info -->


    <!-- About - Video #################### -->
    <section id="about_video" class="subsection background_color2" style="padding-top: 0px">
        <div class="container">
            <!-- INTRO -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center about_video_anim1 animated fadeInUp">
                    <div class="intro">
                        <h3>Sử dụng phần mềm này như thế nào?</h3>
                    </div>
                </div>
            </div>
            <!-- //INTRO -->

            <!-- Video -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 align-center about_video_anim2 animated fadeInUp">
                    <div class="about_video_player" style="padding: 0">
                        <div style="padding-top: 56.2%;" class="fluid-width-video-wrapper">
                            <iframe id="fitvid971905" src="/demo_data/120433187.html"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CTA Buttons -->
            <div class="cta_button_area home_anim4" style="margin-top: 0">
                <div>
                    <h3 style="display:block">Khách hàng</h3>
                    <a href="#screenshots"><button  class="btn" style="width: 0px; height: 0px; border-width: 100px; border-style: solid; border-color:  #00793C transparent transparent ; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-right: 0px; padding-left: 0px;border-radius:0;background: none"></button></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Screenshots #################### -->
    <section id="screenshots" class="subsection background_color2" style="padding-top: 0px">
        <div class="container">

            <!-- INTRO -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center screenshots_anim1 animated fadeInUp">
                    <div class="intro" style="padding: 0">
                        <h3>Khách hàng</h3>
                        <h5>Những khách hàng đã tin tưởng và đang sử dụng phần mềm.</h5>
                    </div>
                </div>
            </div>
            <!-- //INTRO -->

            <!-- screenshots gallery -->
            <div class="screenshots_gallery">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 align-center screenshots_anim2 animated fadeInUp">
                    <div class="screenshot">
                        <a href="http://www.shegy.nazwa.pl/themeforest/spot/html/images/screenshots/1.jpg"
                           data-lightbox-gallery="gallery1"><img src="/demo_data/1.jpg"
                                                                 class="img_responsive img-rounded_corner" alt=""
                                                                 width="528"></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 align-center screenshots_anim3 animated fadeInUp">
                    <div class="screenshot">
                        <a href="http://www.shegy.nazwa.pl/themeforest/spot/html/images/screenshots/2.jpg"
                           data-lightbox-gallery="gallery1"><img src="/demo_data/2_002.jpg"
                                                                 class="img_responsive img-rounded_corner" alt=""
                                                                 width="528"></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 align-center screenshots_anim4 animated fadeInUp">
                    <div class="screenshot">
                        <a href="http://www.shegy.nazwa.pl/themeforest/spot/html/images/screenshots/3.jpg"
                           data-lightbox-gallery="gallery1"><img src="/demo_data/3.jpg"
                                                                 class="img_responsive img-rounded_corner" alt=""
                                                                 width="528"></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 align-center screenshots_anim5 animated fadeInUp">
                    <div class="screenshot">
                        <a href="http://www.shegy.nazwa.pl/themeforest/spot/html/images/screenshots/4.jpg"
                           data-lightbox-gallery="gallery1"><img src="/demo_data/4_002.jpg"
                                                                 class="img_responsive img-rounded_corner" alt=""
                                                                 width="528"></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 align-center screenshots_anim6 animated fadeInUp">
                    <div class="screenshot">
                        <a href="http://www.shegy.nazwa.pl/themeforest/spot/html/images/screenshots/5.jpg"
                           data-lightbox-gallery="gallery1"><img src="/demo_data/5.jpg"
                                                                 class="img_responsive img-rounded_corner" alt=""
                                                                 width="528"></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 align-center screenshots_anim7 animated fadeInUp">
                    <div class="screenshot">
                        <a href="http://www.shegy.nazwa.pl/themeforest/spot/html/images/screenshots/6.jpg"
                           data-lightbox-gallery="gallery1"><img src="/demo_data/6.jpg"
                                                                 class="img_responsive img-rounded_corner" alt=""
                                                                 width="528"></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 align-center screenshots_anim8 animated fadeInUp">
                    <div class="screenshot">
                        <a href="http://www.shegy.nazwa.pl/themeforest/spot/html/images/screenshots/7.jpg"
                           data-lightbox-gallery="gallery1"><img src="/demo_data/7.jpg"
                                                                 class="img_responsive img-rounded_corner" alt=""
                                                                 width="528"></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 align-center screenshots_anim9 animated fadeInUp">
                    <div class="screenshot">
                        <a href="http://www.shegy.nazwa.pl/themeforest/spot/html/images/screenshots/8.jpg"
                           data-lightbox-gallery="gallery1"><img src="/demo_data/8.jpg"
                                                                 class="img_responsive img-rounded_corner" alt=""
                                                                 width="528"></a>
                    </div>
                </div>
            </div>
            <!-- //screenshots gallery -->
            <!-- CTA Buttons -->
            <div class="cta_button_area home_anim4" style="margin-top: 0">
                <div>
                    <h3 style="display:block">Liên hệ</h3>
                    <a href="#contact"><button  class="btn" style="width: 0px; height: 0px; border-width: 100px; border-style: solid; border-color:  #00793C transparent transparent ; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-right: 0px; padding-left: 0px;border-radius:0;background: none"></button></a>
                </div>
            </div>
        </div>
    </section>
    <!-- //screenshots -->


    <!-- Contact #################### -->
    <section id="contact" class="subsection background_color1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 contact_form_container contact_anim1">
                    <h3>Liên hệ</h3>

                    <p>Liên hệ với chúng tôi ngay để nhận các gói khuyến mãi lớn.</p>

                    <!-- Contact Form -->
                    <form action="#" id="contact-form" method="post">
                        <div class="contact_form">
                            <div class="input-field">
                                <input id="first_name" name="contact-name" type="text">
                                <label for="first_name">Tên của bạn</label>
                            </div>
                            <div class="input-field">
                                <input id="phone" name="phone" type="text">
                                <label for="phone">Số điện thoại</label>
                            </div>
                            <div class="input-field">
                                <input id="contact_email" name="contact-email" type="email">
                                <label for="contact_email">Địa chỉ email</label>
                            </div>
                            <div class="input-field">
                                <textarea class="materialize-textarea" name="contact-message"></textarea>
                                <label>Nội dung tin nhắn</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Gửi</button>
                    </form>
                    <!-- //Contact Form -->

                    <div id="message">
                        <div id="alert"></div>
                    </div>
                    <!-- Message container -->
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 contact_anim2">
                    <h3>Thông tin </h3>

                    <p>EcoIT chuyên cung cấp phần mềm, dịch vụ, hệ thống và các giải pháp về Công nghệ thông tin được sáng lập và lãnh đạo bởi các chuyên gia quản lý, chuyên gia công nghệ có kinh nghiệm lâu năm trong lĩnh vực Công nghệ thông tin.</p>

                    <ul class="icon_list">
                        <li>
                            <h6> A10 – Ngõ 217 Đê La Thành – Quận Đống Đa - Hà Nội - Việt Nam</h6></li>
                        <li>
                            <br>
                            <h6>+84 04 62814275</h6></li>
                        <li>
                            <br>
                            <h6><a href="javacript:;">contact@ecoit.asia</a></h6></li>
                    </ul>

                    <p>Eco-System in Information Technology</p>
                </div>
            </div>
        </div>
    </section>
    <!-- //Contact -->

    <!-- Footer #################### -->
    <section id="footer" class="subsection background_color2 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">

                    <!-- Social Icons -->
                    <!--<div class="social_icons_container align-center">
                        <div class="social_icons">
                            <ul>
                                <li>
                                    <div data-icon="" class="social_icon twitter_icon"
                                         onclick="location.href='#'"></div>
                                </li>
                                <li>
                                    <div data-icon="" class="social_icon facebook_icon"
                                         onclick="location.href='#'"></div>
                                </li>
                                <li>
                                    <div data-icon="" class="social_icon linkdin_icon"
                                         onclick="location.href='#'"></div>
                                </li>
                                <li>
                                    <div data-icon="" class="social_icon dribbble_icon"
                                         onclick="location.href='#'"></div>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                    <!-- //Social Icons -->

                    <p>Copyright © 2015 EcoIT, Made with ❤ by PhuongNA</p>
                </div>
            </div>
        </div>
    </section>
    <!-- //Footer -->


</div>
<!-- //preloader -->


<!-- JavaScript plugins comes here -->
<script src="/demo_data/jquery-2.js"></script>
<!-- jQuery -->
<script src="/demo_data/jquery_006.js"></script>
<!-- jQuery easing -->
<script src="/demo_data/jquery_002.js"></script>
<!-- Scroll to -->
<script src="/demo_data/jquery_005.js"></script>
<!-- jQuery cycle -->
<script src="/demo_data/jquery.js"></script>
<!-- jQuery form -->
<script src="/demo_data/jquery_004.js"></script>
<!-- MaxImage background image slideshow -->
<script src="/demo_data/classie.js"></script>
<!-- Class helper function -->
<script src="/demo_data/pathLoader.js"></script>
<!-- Preloader Loading Animation -->
<script src="/demo_data/preloader.js"></script>
<!-- Preloader -->
<script src="/demo_data/retina.js"></script>
<!-- Retina.js - support for HiDPI Displays -->
<script src="/demo_data/waypoints.js"></script>
<!-- Waypoints -->
<script src="/demo_data/materialize.js"></script>
<!-- Materialize -->
<script src="/demo_data/nivo-lightbox.js"></script>
<!-- Lightbox/Modalbox -->
<script src="/demo_data/jquery_003.js"></script>
<!-- Responsive Video -->
<script src="/demo_data/owl.js"></script>
<!-- Owl Carousel -->
<script src="/demo_data/main.js"></script>
<!-- Main Js file -->


<!-- Show message after newsletter form submit -->
<script type="text/javascript">
    $('document').ready(function () {
        $('#subscribe-form').ajaxForm({
            target: '#preview',
            success: function () {
                $('#preview').addClass("show_message");
            }
        });
    });
</script>

<!-- MOBILE NAVIGATION -->
<script>
    var showRight = document.getElementById('showRight'),
            hideRight = document.getElementById('hideRight'),
            menuRight = document.getElementById('cbp-spmenu-s2'),
            body = document.body;

    showRight.onclick = function (event) {
        "use strict";
        event.preventDefault();
        classie.toggle(this, 'active');
        classie.toggle(menuRight, 'cbp-spmenu-open');
        disableOther('showRight');
        return false;
    };

    hideRight.onclick = function (event) {
        "use strict";
        event.preventDefault();
        classie.toggle(this, 'active');
        classie.toggle(menuRight, 'cbp-spmenu-open');
        disableOther('showRight');
        return false;
    };
</script>


<!-- Nav Bar show/hide after scrolling -->
<script>
    var $head = $('#menu_bar');
    $('.menu_bar-waypoint').each(function (i) {
        var $el = $(this),
                animClassDown = $el.data('animateDown'),
                animClassUp = $el.data('animateUp');


        $el.waypoint(function (direction) {
            if (direction === 'down' && animClassDown) {
                $head.attr('class', 'menu_bar ' + animClassDown);
            }
            else if (direction === 'up' && animClassUp) {
                $head.attr('class', 'menu_bar ' + animClassUp);
            }
        }, {
            offset: function () {
                navbarheight = $("#menu_bar").outerHeight() + 1;
                return navbarheight;
            }
        });
    });
</script>

<!-- Style Switcher -->
<!-- Switcher Only -->
<link rel="stylesheet" id="switcher-css" type="text/css" href="/demo_data/switcher.css" media="all" property="">
<link href="/demo_data/css.css" rel="stylesheet" type="text/css" property="">
<!-- END Switcher Styles -->

<!-- Demo Examples -->
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_red.css" title="red" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_pink.css" title="pink" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_purple.css" title="purple" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_deep-purple.css" title="deep-purple"
      media="all" property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_indigo.css" title="indigo" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_blue.css" title="blue" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_light-blue.css" title="light-blue"
      media="all" property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_cyan.css" title="cyan" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_teal.css" title="teal" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_green.css" title="green" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_light-green.css" title="light-green"
      media="all" property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_lime.css" title="lime" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_yellow.css" title="yellow" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_amber.css" title="amber" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_orange.css" title="orange" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_brown.css" title="brown" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_gray.css" title="gray" media="all"
      property="">
<link rel="alternate stylesheet" type="text/css" href="/demo_data/color_palette_blue-gray.css" title="blue-gray"
      media="all" property="">
<!-- END Demo Examples -->
<!-- END Switcher -->


<!-- Demo Switcher JS -->
<script type="text/javascript" src="/demo_data/fswit.js"></script>


<div class="hiddendiv common"></div>
</body>
</html>