<div class="modal-style" >
    <div class="modal-header clearfix">
        Taọ mới thư mục
        <span class="close ion ion-android-close" ng-click="modalClose()"></span>
    </div>
    <div class="modal-body"  data-ng-controller="ProfilesController" >
        <form name="profileForm" data-ng-submit="create()" class="col-sm-5 form-horizontal" novalidate autocomplete="off" ng-if="authentication.user.roles[0] == 'manager'">
            <fieldset>
                <div class="form-group col-md-12" style="padding:0;margin:0;display:inline-flex">
                    <button md-ink-ripple="" class="btn btn-line-info btn-icon-inline" type="submit"><i class="ion ion-folder"></i>Tạo thư mục<div class="md-ripple-container" style=""></div></button>
                    <i><input style="width: 300px;" type="text" placeholder="Điền tên thư mục chứa hồ sơ..." required="" class="form-control ng-dirty ng-valid ng-valid-required " id="name" data-ng-model="name"></i>
                </div>
                <div data-ng-show="error" class=" form-group text-center text-danger">
                    <strong style="margin-left: 100px" data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<!-- #end Modal Content -->
